<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


	<link rel="stylesheet" href="weather.css">
	<title> </title>
</head>

<body id="body">

	<div class=container>

		<div class="row ">
			<img src="sol.jpg" alt="sol" class="img-responsive logo">
			<div>
				<h2> My weather App</h2>
			</div>
		</div>

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="weather-TODAY.html">TODAY</a></li>
					<li> <a href="weather-forecast.html">FUTURE FORECAST</a>
					</li>
				</ul>
			</div>
		</nav>

		<input type="text" placeholder="Search CITY" id="searchBox">
		<button id="searchB"> Search </button>
		<div class="container" id="app">
			
			<!--// intentarq quitar el teoday y el tomorrow si no hay dayo-->
			<div v-if="restDays.length==0 || currentDay.lenght==0"> 
				
			
			
			</div>
			
				 
		   <div v-else>
			<h2> Today </h2>

			<div id="infoSection">
				<div class="row container-fluid">
					<div class="col-lg-3" v-for="x in currentDay">
						<div>
							<p>Day</p> {{x.day}} </div>



						<div>
							<p>Hour</p> {{x.dt_txt.slice(11,19)}}
						
							<p>Description</p> {{x.weather[0].description}}
						
							<p>Temperature </p> {{x.main.temp}}
						
							<p> Max </p> {{x.main.temp_max}}
						
							<p> Min </p> {{x.main.temp_min}} </div>
						<img  v-bind:src="'http://openweathermap.org/img/w/'+x.weather[0].icon+'.png'" >

					</div>
				</div>
				<h2>This Week </h2>

				<div class="row container-fluid">
					<div class="col-lg-3" v-for="x in restDays">
						<div>
							<p>Day</p> {{x.day}}
							<p>Hour</p> {{x.dt_txt.slice(11,19)}}
							<p>Description</p> {{x.weather[0].description}}
							<p> Date</p> {{x.dt_txt}}

							<p> Description </p> {{x.weather[0].description}}

							<p> Temperature </p> {{x.main.temp}}

							<p> Max</p> {{x.main.temp_max}}

							<p> Min </p> {{x.main.temp_min}} </div>

						<img  v-bind:src="'http://openweathermap.org/img/w/'+x.weather[0].icon+'.png'" >
					</div>
				</div>
			</div>
			   
			</div>
		</div>
		<div>
			<!--			 <div id=temperature> temperature</div>
	 <div id=max> Max temperature</div>
	<div id=min> min temperature</div>
	<P></P><div id=desc> description</div>-->










			<script src="https://cdn.jsdelivr.net/npm/vue"></script>
			<script src="weather.js"></script>

</body>

</html>
