body {
	font-family: "Comic Sans MS";
	background-image: url("weather.jpg");
	background-size:cover;
}

#myWeatherApp{
	height: 100vh;
	width: 100%;
}

h2 {font-size:30px;
	color: orange;
	margin-bottom:20px;
}

p {color:blue}

.btn, #searchB {
	text-decoration: none;
	color:brown;
	font-size:20px;
	font-weight:bold;
	background-color:rosybrown;
	opacity:0.7;
	margin:10px;
	border-radius:5px;
}

.btn-link:focus, .btn-link:hover{
	color:black;
	background-color:burlywood;
	opacity:0.7; 
	text-decoration:none;

}

.container {
	text-align: center;
	margin:auto;
	margin-left:30px;
	font-size:20px;
	font-weight:bold;
	justify-content:center;
}

#myWeather {
	text-align:center;
	justify-content: center;
	
}

.box {
	background-color:azure;
	margin:10px;
	margin-left:90px;
	margin-right: 90px;
	opacity:0.7;
	border-radius:5px;
}